* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto 40px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

h1 {
  width: 600px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 3em;
  margin: .3em auto;
}

ul {
  width: 600px;
  margin: 0 auto;
}

ul li {
  display: inline;
  list-style-type: none;
  margin: 1.2em;
}

li a {
  text-decoration: none;
  color: #89b4fa;
}

li a:hover {
  text-decoration: underline;
}